.contInputRange {
  height: 60px;
  width: 380px;
  background-color: white;
  border-radius: 40px;
  padding: 0 65px 0 45px;
  --sliderPrimaryColor: #0045c6;

  .sliderCurrentValue {
    position: relative;
    width: 100%;
    display: flex;

    justify-content: center;

    span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 45px;
      color: white;
      font-weight: 500;
      top: -40px;
      transform: translateX(-30%) scale(0);

      transition: transform 0.3s ease-in-out;
      line-height: 55px;
      z-index: 2;
    }

    span.show {
      transform: translateX(-30%) scale(1);
    }

    span::after {
      position: absolute;
      content: "";
      height: 45px;
      width: 45px;
      background-color: var(--sliderPrimaryColor);
      transform: rotate(45deg);
      border: 3px solid #fff;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      z-index: -1;
    }
  }

  .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .value {
      position: absolute;
      font-size: 18px;
      font-weight: 600;
      color: var(--sliderPrimaryColor);
    }

    .value.left {
      left: -22px;
    }

    .value.right {
      right: -43px;
    }

    input {
      appearance: none;
      height: 3px;
      width: 100%;
      background: #ddd;
      border-radius: 5px;
      outline: none;
      border: none;
    }

    input::-webkit-slider-thumb {
      appearance: none;
      height: 20px;
      width: 20px;
      background: var(--sliderPrimaryColor);
      border-radius: 50%;
      border: 1px solid var(--sliderPrimaryColor);
      cursor: grab;
      transition: all 0.3s ease;
    }

    input::-webkit-slider-thumb:hover {
      scale: 1.1;
    }
    input::-webkit-slider-thumb:active {
      box-shadow: 0 0 0 8px rgba(0, 69, 198, 0.5);
    }

    input::-moz-range-progress {
      background: var(--sliderPrimaryColor);
    }
  }
}
